body, div, p {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  width: 100%; 
}

body {
  position: relative;
  height: 100%;
  width: 100%; 
  font-family: "Times New Roman", "Times", "Georgia", "Helvetica", serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

#background-image {
  /*background: url("img/1.jpg") no-repeat center center fixed;*/
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px); 
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
}

.centering-flex-box {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-flow: flex-direction;
  justify-content: center;
  align-items: center;
}

#middle{
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 83%;
  right:25%
}
#time {
  text-shadow: 6px 4px 2px #333;
  position:absolute; 
  font-family:"garamond", "courier new",  "arial", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 500;
  font-size: 9em;
  width: 100%;
  height: 20%;
  top:45%; 
}

#token{
  font-family:"comic sans ms", "garamond", "courier new",  "arial";  
  font-weight:"bold"
}


/* Scrollbar styles */
::-webkit-scrollbar {
width: 2px;
height: 10px;
}

::-webkit-scrollbar-track {
background: rgba(0,0,0,0.55);
border-radius: 1px;
}

::-webkit-scrollbar-thumb {
border-radius: 1px;
background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:hover {
background: rgba(0,0,0,0.3);  
}

.feedCell {
  text-align: left;
  background-color: rgba(0,0,0,0.75);
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.feedCell:hover{
background-color: rgba(0,0,0,0.60);
}

.title {
  font-family:"garamond", "courier new",  "arial", sans-serif;  
  font-size: 1.1em;
  color: rgb(220,68,5);
  align-content: left;
  font-weight: bolder; 
}

.title:hover{
  text-decoration: underline;
  color: rgb(220,68,5);
}

.title:active { 
    background-color: rgb(220,68,5);
}

.title:visited {  
  color: rgb(220,68,5);
}

#feed {
  font-family:"garamond", "courier new",  "arial", sans-serif;
}
/*top is not used just for reference for the rest of the divs*/
#top{
  position: absolute;
  z-index: 1;
  width: 100%; 
  height:7%; 
  top:0%; 
 
}
#bottom{
  position: absolute;
  z-index: 2;
  width: 100%; 
  height:10%; 
  top:90%; 
 
}
#quote {
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: all 1.6s ease-out 0;
  transition: all 1.6s ease-out 0;
}
#left{
  position: absolute;
  top: 7%;
  z-index: 2;
  width: 25%;
  height: 83%;
  left:0%
}
#events {  
  z-index: 2;
     
  margin-top: 4%;
  margin-left: 4%;
  width: 90%;
  height: 83%;
  color: white;
  text-align: center;
  overflow: auto;
}

#right{
  position: absolute;
  z-index: 2;
  width: 25%;
  height: 83%;
  right:0%
}

#weather {
  position: absolute; 
  font-family:"garamond", "courier new",  "arial", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 100;
  font-size: 4em;
  right:5%;
  top: 12%;
}


#game-section {
  position: absolute;
  bottom: 0%;
  right: 5%;
  height: 40%;
  width: 55%;
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
}

.blur {
  position: absolute;
  height: 100%;
  width: 100%;	
  background: linear-gradient(#073,#0fa);
  overflow: hidden;
  filter: blur(13px);
  filter: opacity(15%);
  position: absolute;
}	 

.center {
  position: relative;
  margin: auto;
  top: 10%;
}

#game {
  
  font-family:"Arial";
  font-size: 25px;
  
}
#photoCredit{
  font-style:italic; 
  font-family: "comic sans ms", "Garamond", "Arial"; 
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 100;
  font-size: 1.0em;
  position: absolute; 
  z-index: 2; 
  color:white; 
  float:left; 
  bottom: 12%;
  margin-left: 1% 
}
#quote.move {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 20px rgba(0,0,0,0.4);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}


@media only screen and (max-width: 1024px) {
  #quote {
    font-size: 3em;
  }

}

@media only screen and (max-width: 480px) {
  #quote {
    font-size: 1.5em;
  }

}


li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    margin-bottom: -4px;
    text-decoration: none;
}

li a:hover {

      color: rgb(220,68,5);
      text-decoration: none;
}
li a:focus {
    background-color: #333;
    color:  rgb(220,68,5);
    text-decoration: none;
}
.resize {
  position: absolute;
  top: -157%;
  top: -156%;
  left: 0%;
}
.marginshift{
  margin-left: 12%;
  list-style: none; 

}